<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9b7d71">  <td>19/02/17 09:11:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead.createlead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:bl.framework.testcases.TC001_CreateLead@6e1ec318]">createlead</td> 
  <td>main@1033490990</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>19/02/17 09:12:24</td>   <td>24607</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead.createlead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:bl.framework.testcases.TC001_CreateLead@6e1ec318]">createlead</td> 
  <td>main@1033490990</td>   <td></td> </tr>
<tr bgcolor="caeb9e">  <td>19/02/17 09:11:48</td>   <td>-11234</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethodClass.login()[pri:0, instance:bl.framework.testcases.TC001_CreateLead@6e1ec318]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1033490990</td>   <td></td> </tr>
<tr bgcolor="caeb9e">  <td>19/02/17 09:12:15</td>   <td>16118</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethodClass.login()[pri:0, instance:bl.framework.testcases.TC001_CreateLead@6e1ec318]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1033490990</td>   <td></td> </tr>
</table>
