<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d86b78">  <td>19/02/17 09:07:12</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethodClass.login()[pri:0, instance:bl.framework.testcases.TC001_CreateLead@617faa95]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@215145189</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>19/02/17 09:07:38</td>   <td>25378</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead.createlead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:bl.framework.testcases.TC001_CreateLead@617faa95]">createlead</td> 
  <td>main@215145189</td>   <td></td> </tr>
<tr bgcolor="d86b78">  <td>19/02/17 09:09:11</td>   <td>118711</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethodClass.login()[pri:0, instance:bl.framework.testcases.TC001_CreateLead@617faa95]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@215145189</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>19/02/17 09:09:23</td>   <td>130487</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead.createlead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:bl.framework.testcases.TC001_CreateLead@617faa95]">createlead</td> 
  <td>main@215145189</td>   <td></td> </tr>
</table>
